*{
    margin: 0;
    padding: 0;
    font-family: "Playwrite DE Grund Guides", cursive, sans-serif, serif;
}
:root{
    --size: 20px;
    --bck-grdColor: #ffed94;
    --yellow: #feac5e;
    --yellow1: #eb8220;
    --lightblue: #4bc0c8;    
    --lightblue1:#41a6ad;
    --lightblue2: #256266;


}
body{
    background-color: #f5f5f5;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Alegreya", serif;
    transition: all 0.5s ease;   
}
.menu__items{
    position: relative;
    right: 0;
    width: 30%;
}
.title__container{
   background-color: #ffed94;
}
h1{
    font-family: "Bungee Shade", cursive;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 2.5rem 1rem; 
    font-size: 2vw;
	background: linear-gradient(
		-45deg,
		#4bc0c8 25%,
		#feac5e 25%,
		#feac5e 50%,
		#4bc0c8 50%,
		#4bc0c8 75%,
		#feac5e 75%,
		#feac5e);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: var(--size) var(--size);
	background-position: 0 0;
	animation: stripes 1s linear infinite;
    box-sizing: border-box;           
}
@keyframes stripes {
    0%{
        background-position: 0 0;
    }
	100% { 
		background-position: var(--size) 0;
	}
}
h2{
    margin-left: 100px;
    margin-right: 50px;
}
h3{
    margin-left: 150px;
}
.address{
    margin-left: 1rem;
    padding: 1rem 0 0 0;     
}
.address__title{
        font-size: 1.1vw;
        font-weight: 400;
        margin-left: 1.5rem;
        text-decoration-line: underline;
        text-decoration-color:var(--lightblue);
}        
.address__title ~ dd{
    margin-left: 6rem;
}
.contact{
    margin-left: 7rem;
    box-sizing: border-box;
} 
.contact__email strong, .contact__phoneNumber strong{
    background: transparent;
    border-radius: 0;
    padding: 0;
    transition: all 1s ease;    
}
.contact__phoneNumber strong:hover, .contact__email strong:hover{
   
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(to left, var(--lightblue), var(--lightblue1), var(--lightblue2));
    padding: 0.5px 2px 0.5px 1px;
    animation: fromLeft 3s ease-in-out 0s 1 normal both;
}
.contact__realisation > a, .contact__realisation > a > img {
    text-align: center;
}
.contact a:hover{
    transition: all 0.5s ease;
    background: linear-gradient(to left, var(--yellow1), var(--yellow), var(--bck-grdColor));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
    animation: fromLeft 1s ease 0.5s 1 normal both;
}
@keyframes fromLeft {
	0% {
		opacity: 0;
		transform: scaleX(0);
        transform-origin: left 0;
	}
    25%{
        opacity: 0.25;
        transform: scaleX(0.25);        
    }
    50%{
        opacity: 0.5;
        transform: scaleX(0.5);
        transform-origin: center;
    }
    75%{
        opacity: 0.75;
        transform: scaleX(0.75);
    }

	100% {
		opacity: 1;
		transform: scaleX(1);
        transform-origin: 0 right;
	}
}

.menu{

    margin: 1rem;
}
.navBar{
    width: 55%;
    position: relative;
    left: 44%;
    bottom: 200px;
    padding: 0.5rem;
    background-color: var(--lightblue);
    border-radius: 1rem;
}
.navBar__list{
    list-style:none;


}
.navBar__list--items{
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.25rem;
    width: 10%;
    text-align: center;
}
.about {
    width: 16%;
}
.TP1{
    width: 25%;
}
.studies, .skills, .TP{
    background-color: var(--bck-grdColor);
    border-radius: 1rem;
}
.studies:hover, .skills:hover, .TP:hover{
    border: var(--yellow) solid 0.25rem;
    margin: 0.25rem;
    padding: 0.25rem;
}
.exp, .about, .TP1{
     border-radius: 1rem;
     background-color: var(--yellow);
}
.exp:hover, .about:hover, .TP1:hover{
    border: var(--bck-grdColor) solid 0.25rem;
    margin: 0.25rem;
    padding: 0.25rem;
}
.formations__title, .exp__title, .skills__title, .about__title{
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgba(69, 197, 217, 0.1);
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.formations__list--items--marker, .exp__list--items--marker, .skills__list--items--marker, .about__list--items--marker, .position{
    margin-left: 15rem;
}
footer{
    margin: 2rem 0 0 0;
}
footer>p{
    padding: 2rem 1rem;
    text-align: center;
    box-sizing: border-box;
}